//.style-for-delete{
//  color: yellow;
//}
.container{
  font-family: $font-main;
  width: 100%;
  margin: 0 auto;
}
img{
  max-width: 100%;
  width: auto;
}
a{
  font-family: $font-main;
}

.header-container{
  position: relative;
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  align-items: end;
}
.header-menu{
  position: absolute;
  width: 50%;
  top: 57px;
  display: none;
  background: #F5F5F5;
  &__item{
    padding-left: 10%;
    &--grey {
      font-family: $font-main;
      color: $text-grey;
      font-size: 11px;
      line-height: 25px;
      letter-spacing: 1.1px;
      text-transform: uppercase;
    }
  }
  &__item:hover{
    background: #E5E5E5;
  }
  &__bar{
    width: 44px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--black{
      background: #000;
      color: #fff;
      margin: 20px 0;
    }
  }
}
.opened{
  display: block;
}
.active{
  color: #57A4A4;
}
.main-container{
  width: 90%;
  margin: 0 auto;
}
.main__top-image{
  width: 100%;
}
.main-title{
  @include titleStyle;
  margin: 20px 0;
  font-size: 14px;
}
.article{
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  &__image{
    width: 50%;
    max-width: 160px;
  }
  &__block{
    display: flex;
    flex-direction: column;
  }
  &__title{
    @include titleStyle;
    font-size: 14px;
    line-height: 30px;
  }
  &__comments{
    font-size: 11px;
    line-height: 20px;
    color: $text-light_grey;
  }
  &__text{
    display: none;
    font-size: 14px;
    line-height: 26px;
    color: $text-article_grey;
  }
}
.instagram{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__info{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px 0;
  }
  &__last-shots{
    @include titleStyle;
    font-size: 16px;
  }
  &__page-link{
    @include titleStyle;
    display: none;
    font-size: 13px;
  }

  &__gallery{
    display: flex;
    width: 90%;
    flex-wrap: nowrap;
  }
  &__gallery *:not(:first-child){
    display: none;
  }
}
.footer{
  display: flex;
  background: black;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  padding: 40px 10px;
  &__title{
   @include titleStyle;
    font-size: 14px;
    color: #FEFEFE;
    margin: 5px 0;
  }
  &__text{
    display: flex;
    width: 90%;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
    margin: 5px 0;
  }
  &__icons-container{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 5px 0;
  }
  &__social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: 2px solid;
    border-radius: 30px;
    margin: 5px 0;
    &--orange{
      border-color: #F8902E;
    }
    &--dark-blue{
      border-color: #39599F;
    }
    &--blue{
      border-color: #45B0E3;
    }
    &--violet{
      border-color: #D97AB0;
    }&--red{
           border-color: #CC212C;
    }
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }
  &__contacts a{
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
  }
}


@media (min-width: 768px) {
  .header-menu{
    position: static;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background: none;
    &__item{
      padding-left: 0;
    }
    &__item:hover{
      background: none;
    }
    &--position{
      justify-content: space-between;
    }
    &__bar{
      display: none;
    }
  }
  .article{
    flex-direction: row;
    &__block{
      margin-left: 5%;
      width: 50%;
      height: 100%;
      justify-content: start;
    }
    &__text{
      display: block;
    }
    &__title{
      font-size: 16px;
    }
    &__comments{
      font-size: 12px;
    }
  }
  .instagram{
    &__page-link{
      display: block;
    }
    &__gallery{
      justify-content: space-between;
    }
    &__gallery *:not(:last-child){
      display: block;
    }
  }
  .footer {
    &__title{
      font-size: 16px;
    }
    &__text{
      width: 80%;
      font-size: 16px;
      line-height: 28px;
    }
    &__contacts{
      flex-direction: row;
    }
    &__contacts a{
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@media (min-width: 1200px) {
  .article-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 600px;
  }
  .article{
    width: 50%;
    &__block{
      width: 100%;
    }
  }
  .instagram{
    width: 100%;
    background: rgba(0, 0, 0, 0.03);
    &__gallery *:last-child{
      display: block;
    }
  }
  .footer {
    &__text{
      width: 60%;
    }
  }
}